@import '../variables.scss';

.Main {
  width: 90%;
  margin: auto;
  margin-top: 5rem;

  h4 {
    font-size: 0.7rem;
  }

  h1 {
    margin-bottom: 1rem;
  }
}

.SubTitles {
  margin-bottom: 2rem;
}

.Content {
  margin-left: 0.5rem;
}

@media (min-width: $big-phone-viewport) {
  .Main {
    margin-top: 6rem;
    h4 {
      font-size: 1.3rem;
    }
  }

  .Content {
    margin-left: 1rem;
  }
}
@media (min-width: $tablet-viewport) {
  .Main {
    width: 80%;
    margin-top: 7rem;
  }
}

@media (min-width: $desktop-viewport) {
  .Main {
    width: 80%;
    margin-top: 10rem;
    h1 {
      margin-bottom: 4rem;
    }
    h4 {
      font-size: 1rem;
    }
  }
}
