.contact-btn {
  cursor: pointer;
  margin: 3rem 0.2rem;
  padding: 1rem 3rem;
  width: 13rem;
  background-color: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-size: 1.2rem;
  font-weight: 600;
  &:hover {
    transition: box-shadow, transform 0.4s ease-in-out;
    background-color: $primary-color;
    color: white;
    border: 1px solid white;
    transform: scale(1.05);
    box-shadow: 7px 7px 10px black, -7px 0px 10px black;
  }
}
